/* General Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, sans-serif;
	background-image: url('/images/background.jpg');
	/* Path to the background image */
	background-size: cover;
	/* Ensure the image covers the entire screen */
	background-repeat: no-repeat;
	/* Prevent the image from repeating */
	background-position: center;
	/* Center the image */
	background-attachment: fixed;
	/* Keep background fixed during scroll */
	color: #333;
	padding: 20px;
}

.container {
	width: 80%;
	max-width: 1000px;
	margin: 0 auto;
	background-color: rgba(95, 97, 200, 0.35);
	/* Light overlay */
	padding: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	text-align: center;
}

h1 {
	font-size: 2.5em;
	color: rgb(0, 0, 0);
	margin-bottom: 20px;
}

h1.rock-salt-regular {
	font-family: 'Rock Salt', serif;
	font-weight: 400;
	color: rgb(0, 0, 0);
}

h2 {
	font-size: 2em;
	color: #333;
	margin-bottom: 10px;
}


form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	font-size: 1em;
	margin-bottom: 5px;
}

input {
	width: 90%;
	max-width: 500px;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #ccc;
	border-radius: 4px;
	font-size: 1em;
}

button {
	padding: 10px 20px;
	background-color: #4CAF50;
	color: white;
	font-size: 1em;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

button:hover {
	background-color: #45a049;
}

a {
	font-size: 1em;
	color: rgb(0, 0, 0);
	text-decoration: none;
	margin-top: 10px;
	display: inline-block;
	transition: color 0.3s ease;
}

a:hover {
	color: rgb(255, 255, 255);
}

ul {
	list-style-type: none;
	padding: 0;
}

ul li {
	background-color: rgba(182, 46, 94, 0.35);
	margin: 10px 0;
	padding: 10px;
	border-radius: 120px;
	text-align: left;
	margin-left: 50px;
	margin-right: 50px;
}

ul li strong {
	color: #333;
}

.error-message {
	color: red;
	font-size: 1.2em;
	margin-top: 20px;
}

.success-message {
	color: green;
	font-size: 1.2em;
	margin-top: 20px;
}

.go-back-button {
	width: 100px;
	/* Adjust size as needed */
	height: auto;
	cursor: pointer;
	transition: transform 0.3s ease;
}

.go-back-button:hover {
	transform: scale(1.1);
	/* Slight zoom effect on hover */
}

